#side-menu{
    position: fixed;
    left: 0;
    top: 40px;
    width: 150px;
    background: var(--headerBackground);
    height: calc(100vh - 40px);
    color: var(--lightText);
    display: none;
    z-index: 1000;
}
.side-menu-option{
    display: flex;
    align-items: center;
    height: 54px;
    cursor: pointer;
}
.side-menu-option:hover{
    background: var(--background);
}
.side-menu-icon{
    margin: 10px;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}