:root {
    --background:#E0ECFD;
    --headerBackground: #FFFFFF;
    --titleText: #000080;
    --fieldText: #000080;
    --lightText: #5F6165;
    --fieldBackground: #000;
    --inningBackground: #000;
    --fieldElementBackground: #E0ECFD;
    --fieldElementBorder: #FFFFFF;
    --fieldElementBorderDark: #e5eef7;
    --on: #FFB300;
    --off: #263238;

    /* --background:#263238;
    --headerBackground: #37474F;
    --titleText: #ECEFF1;
    --fieldBackground: #000;
    --inningBackground: #000;
    --teamName: #FFF;
    --gameScore: #FFF;
    --fieldElementBackground: #263238;
    --fieldElementBorder: #37474F;
    --fieldElementBorderDark: #293a42;
    --on: #FFB300;
    --off: #263238; */

    /*status*/
    --good: #A5D6A7;
    --goodDark: #81C784;
    --low: #E6EE9C;
    --lowDark: #DCE775;
    --mid: #FFE082;
    --midDark: #FFD54F;
    --high: #FFAB91;
    --highDark: #FF8A65;
    --extreme: #EF9A9A;
    --extremeDark: #E57373;
}