<link href="components/dashboard/style.css" rel="stylesheet">

<div class="content">
    <div class="title">
        <h1>Dashboard</h1>
    </div>
    <div class="options">
        <div class="opt">
            <label>Temperature</label>
            <br>
            <div class="image">
                <img src="../../photos/tempchart.png">
            </div>
        </div>
        
        <div class="opt">
            <label>Humidity</label>
            <br>
            <div class="image">
                <img src="../../photos/tempchart.png">
            </div>
        </div>
        
        
    </div>
</div>

    
