<link href="components/dashboard/style.css" rel="stylesheet">
<div class="h1"><h1>Dashboard</h1></div>
<br>
<div class="kpi">
    <div class="kpi-top">
        <div class="kpi-icon">
            <i class="fas fa-pause"></i>
        </div>
        <div class="kpi-value">
            <label id="label-backlog">999</label>
        </div>
    </div>
    <div class="kpi-bottom">
        <label>Orders backlog</label>
    </div>
</div>

<div class="kpi">
    <div class="kpi-top">
        <div class="kpi-icon">
            <i class="fas fa-hourglass-start"></i>
        </div>
        <div class="kpi-value">
            <label id="label-process">999</label>
        </div>
    </div>
    <div class="kpi-bottom">
        <label>Orders in process</label>
    </div>
</div>

<div class="kpi">
    <div class="kpi-top">
        <div class="kpi-icon">
            <i class="fas fa-check"></i>
        </div>
        <div class="kpi-value">
            <label id="label-completed">999</label>
        </div>
    </div>
    <div class="kpi-bottom">
        <label>Completed orders</label>
    </div>
</div>

<div class="kpi" id="div-alerts">
    <div class="kpi-top">
        <div class="kpi-icon" id="icon-alerts">
            <i class="fas fa-exclamation"></i>
        </div>
        <div class="kpi-value" id="value-alerts">
            <label id="label-alerts">999</label>
        </div>
    </div>
    <div class="kpi-bottom" id="div-alerts-bottom">
        <label>Alerts</label>
    </div>
</div>

<div class="kpi" id="div-above">
    <div class="kpi-top">
        <div class="kpi-icon" id="icon-above">
            <i class="fas fa-fire"></i>
        </div>
        <div class="kpi-value" id="value-above">
            <label id="label-above">1/20</label>
        </div>
    </div>
    <div class="kpi-bottom" id="div-above-bottom">
        <label>Trucks above temperature</label>
    </div>
</div>

<div class="kpi" id="div-below">
    <div class="kpi-top">
        <div class="kpi-icon" id="icon-below">
            <i class="fas fa-snowflake"></i>
        </div>
        <div id="value-below" class="kpi-value">
            <label id="label-below">3/20</label>
        </div>
    </div>
    <div class="kpi-bottom" id="div-below-bottom">
        <label>Trucks below temperature</label>
    </div>
</div>

<div class="charts">
    <div id="chart-alerts" style="position: relative; float:left; width: calc(50% - 22px); height:400px; margin:10px;"></div>
</div>


<!-- <div id="chart-duration" style="position: relative; float:left; width: calc(50% - 22px); height:400px; margin:10px;"></div>
<div id="chart-hour" style="position: relative; float:left; width:calc(50% - 22px); height:400px; margin:10px;"></div> -->
    
