
.kpi{
    position: relative;
    float: left;
    width: calc(16.6% - 20px);
    height: 80px;
    margin: 10px;
    background: var(--fieldElementBackground);
}
.kpi-top, .kpi-bottom{
    position: relative;
    float: left;
    width: 100%;
}
.kpi-top {
    background-color: var(--fieldElementBorder);
    height: 56px;
}
.kpi-bottom {
    background-color: var(--fieldElementBorderDark);
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.kpi-bottom label{
    margin-left: 10px;
    font-size: 10pt;
    color: var(--fieldText);
	text-shadow: 0px 0px 4px var(--fieldElementBorder);
}
.kpi-icon, .kpi-value{
    position: relative;
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kpi-icon{
    width: 64px;
    background-color: var(--fieldElementBorder);
}
.kpi-icon i{
    font-size: 16pt;
    color: var(--fieldText);
	text-shadow: 0px 0px 4px var(--fieldElementBorder);
}
.kpi-value{
    width: calc(100% - 64px);
    background-color: var(--fieldElementBorder);
}
.kpi-value label{
    font-size: 16pt;
    color: var(--fieldText);
    
	text-shadow: 0px 0px 4px var(--fieldElementBorderDark);
}
.charts{
    width: 100%;
    display: flex;
    justify-content: center;    
}

@media only screen and (max-width: 1024px) {
    .kpi{
        width: calc(33.3% - 20px);
    }    
}
@media only screen and (max-width: 768px) {
    .kpi{
        width: calc(50% - 20px);
    }    
}
@media only screen and (max-width: 480px) {
    .kpi{
        width: calc(100% - 20px);
    }    
}