<link href="components/drivers/style.css" rel="stylesheet">
<div class="h1"><h1>Drivers</h1></div>
<div id="button" class="button">
    <button id="add-button" class="add-button">
        + Add new
    </button>
</div>
<div class="content">
    <div class="table-container">
        <table id="driversTable" class="drivers-table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Route</th>
                    <th>Truck</th>
                    <th>Licence plate</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>
</div>