<link href="components/map/style.css" rel="stylesheet">
<div class="h1"><h1>Map</h1></div>
<div class="content">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6732.861784273942!2d-116.82623629894279!3d32.46116479319702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1752565078007!5m2!1ses!2smx" width="90%" height="90%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>