.content{
    display: flex;
    justify-content: center;
}
.map{
    width: 90%;
    height: 500px;
    background: var(--fieldElementBorder);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map img{
    border-radius: 8px;
    width: 90%;
    height: 90%;
}